html
{ 
	height: 100%;

}
body
{
	
	position: relative;
	min-height: 100%;
	padding-bottom: 5rem;
}


.pointer
{
	cursor: pointer;
}
.hidden
{
	display: none;
}

/*product*/
.child-row
{
	padding-left: 20px;
	border-left: 1px solid #dfdfdf;
	background:white ;
}
.child-row a.list-group-item
{
	border-left: 0px!important;
}
.list-group-item.active {

    z-index: 2;
    color: #000;
    background-color: #0cd9fb;
    border-color: #0cd9fb;
    }
.product
{
	height: 300px;
    width: 350px;
  
}
.products-item
{height: 300px;
    width: 350px;
  

}
/*end product*/
.bg-light {

    background-color: #0cd9fb !important;

}
.mar-top-20
{
	margin-top: 21px;
}
.img-style
{
	max-height: 200px;
}

.footer-btt {
    margin-bottom: 0px;
    padding: 13px;
    margin-top: 106px;
    background: #0d90a5;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}


for slider*/

.carousel-indicators li {

    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 33px;
    height: 16px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 9px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 35px;

}

.h5 {

    color: ghostwhite;
    font-size: 25px !important;
    font-style: 100xpx;
    font-weight: bolder;
    background: auto;
    text-align: center;

}
.h2 {

    color: #0cd9fb ;
    font-size: 60px !important;
    font-style: 100xpx;
    font-weight: bolder;
    background: auto;
    text-align: center;

}

.btn-warning {

    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 20px;

}

.slider-text {

    text-align: center;
    margin-left: 228px;
    margin-bottom: 20px;

}
/*override*/
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {

    color: #fff;
    background: #107788;
    border-radius: 10px;
    margin-left: 10px;


}

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    
    color: #fff;
    background: #107788;
    border-radius: 10px;
    margin-left: 10px;

}

.navbar-dark .navbar-nav .nav-link {
    
   color: #FFFFFF;
    border-radius: 10px;
    margin-left: 10px;
}


.p_image
{
    background-image: 'images/foods/bg_3.jpg';
}


.topFixedBannerProduct{
    background-image: url("../images/product.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

 }
 .topBannerOverlay{
     position: absolute;
     min-height: 300px;
     width: 100%;
     background: rgba(0,0,0,0.6);
 }
.topContent{
    margin-top: 10rem;
}
.topTitle{
    font-family: sans-serif;
    font-weight:100;
    color: #ffffff;
    font-size: 17px;
}
.topTitleproduct{
    font-family: sans-serif;
    font-weight:700;
    color: #ffffff;
    font-size: 50px;
}

.topSubTitle{
    font-family: sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
}

.topFixedBannerContact{
    background-image: url("../images/contact.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

 }

  .topBannerOverlayContact{
     position: absolute;
     min-height: 400px;
     width: 100%;
     background: rgba(0,0,0,0.6);
 }

 .about-section {
  background-image: url('../images/page2.jpeg');
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  color: rgb(236, 227, 227);
}
 .about-sectionOverlay
 {
    position: absolute;
     padding: 300px;
     width: 100%;
     background: rgba(0,0,0,0.6);
 }
.hader
{

    color: #FFF!important;
    background-color: #FF7588!important;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    font-family: sans-serif;
}

.hader1
{

    color: #FFF!important;;
    background-color: #00B5B8!important;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    font-family: sans-serif;
}
.forh3{

    background: #ffff!important;
    color: #1fd3e6;
    padding: 7px;
    text-align: center;
    font-weight: 700;
    font-family: inherit;

}
.forh3s{
        font-weight: 700;
    color: #1fd3e6;
    background: #ffffff;
    text-align: center;
    padding: 8px;
    font-family: monospace;

}
h3
{
    font-weight: 700;
    color: #FFFFFF;
    background: #42d6bc;
    text-align: center;
    padding: 8px;
    font-family: monospace;


}
a
{
    font-family: inherit;
    color: #1b3c54;
    font-weight: 700;
}
.buttonw{
        border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #FF7588;

    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    
}
.buttonc{
        border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    border-radius: 20px;
    text-align: center;
    background-color: #27bfa3;
    cursor: pointer;
    
}
.buttonc:hover {
  background-color: #00B5ED;
}
.buttonw:hover {
  background-color: #3da536;
  color :#ffffff !important;
}

.sidebar > .nav .nav-item .nav-link .menu-title:hover {
    color:  !important;
}
h2
{
   color: #6c7b79 !important;
    
    font-size: large !important;

    padding: 15px !important;
    text-align: center !important;
    font-family: inherit !important;
    font-weight: 700 !important;
    font-size: x-large !important;
}
.card-hader
{
   color: #000000;
    background: #26ffd8 !important;
    font-size: large !important;

    padding: 15px;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: x-large;
}
.btn-success
{
        
    font-family: auto;
}
.navbar.default-layout .navbar-menu-wrapper
{
    background: #47d4bb !important;
}
/*.nav .nav-item, .navbar-nav .nav-item:hover {
        
}

.sidebar > .nav:not(.sub-menu) > .nav-item > .nav-link{
   background: radial-gradient(#dc42cffa, #25bfa000);
}*/
.nav-item:hover{
        
         background: radial-gradient(#0fecef, #e7f1ef);
}
.footer{
     color: wheat;
    background: #47d4bb !important;
    }    
.sidebar > .nav .nav-item .nav-link .menu-title
{
    color:  black;
}
.sidebar > .nav .nav-item.nav-category{
        color: #211313 !important;
}

.sidebar > .nav .nav-item.nav-profile .nav-link .profile-name {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 15px;
    color: #231b1b !important;
}
/*.sidebar > .nav .nav-item 
{
    color: #ffffff !important;
}*/
.sidebar > .nav:not(.sub-menu) > .nav-item > .nav-link
{
    background:#FFFFFF !important ;

}
.sidebar > .nav:not(.sub-menu) > .nav-item > .nav-link:hover
{
    background:#47d4bb !important ;
    color :#ffffff !important;

    
}

.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link:before{
        border: 2px solid #47d4bb !important;
}



.card-header{
    background: #ffffff !important;
    padding: 30px !important;
}


.fdesign{
font-size: 18px;
font-weight: 400;
font-family:revert;}
.bord{
  padding: 2px 8px 11px 5px;
}
.mar{
  margin-left: 30px;

}
.lg{
      text-decoration: none;
    color: white;
    margin-left: 15%;
       font-family: initial;
    font-style: revert;
    font-size: small;
}
